body {
    background-image: url("https://i.pinimg.com/474x/4e/6b/c8/4e6bc8cc47dd27f80afa2987980203a4.jpg");
    margin: 0; /* Elimina márgenes por defecto */
    padding: 0; /* Elimina relleno por defecto */
    height: 70vh; /* Asegura que el cuerpo tenga la altura de la ventana */
    background-size: cover; /* Escala la imagen para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.etiqueta input {
    border: none; /* Quita el borde predeterminado */
    width: 100%; /* Ajusta el ancho al contenedor */
    padding: 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    border-radius: 5px; /* Bordes redondeados */
    box-sizing: border-box; /* Asegura que el padding no exceda el tamaño del contenedor */
}

.etiqueta label {
    font-size: 14px; /* Tamaño de fuente más pequeño */
    color: #c80667c4; /* Color de texto */
    margin-bottom: 5px; /* Espaciado debajo del label */
    display: block; /* Asegura que el label ocupe toda la línea */
    
}



button#btn-registrar {
    background-color: #af0972c2; /* Color de fondo azul */
    color: #0f0101; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Efecto de transición */
}

button#btn-registrar:hover {
    background-color: #d0409bc2; /* Azul más oscuro al pasar el mouse */
}