body {
    background-image: url("https://i.pinimg.com/736x/78/60/ac/7860acdce2da0462157e0ff5f5fb0386.jpg");
    margin: 0; /* Elimina márgenes por defecto */
    padding: 0; /* Elimina relleno por defecto */
    height: 90vh; /* Asegura que el cuerpo tenga la altura de la ventana */
    background-size: cover; /* Escala la imagen para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    
}

form {
    width: 40%;
    background-color: rgba(65, 5, 53, 0.925);
    border-radius: 15px; 
    -webkit-box-shadow: 0px 0px 23px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px 6px rgba(0,0,0,0.75);
    border: 1px solid rgb(19, 18, 18,0.892);
}

.icon-user {
    font-size: 100px;
}

.form-control {
    color: white;
    background-color: rgba(143, 26, 104, 0.725);
    border: none;
    border-bottom: solid white 2px;
}

.input-group:focus-within .input-group-text,
.input-group:focus-within .form-control {
    color: rgb(221, 220, 232);
    border: none;
    border-bottom: solid rgb(0, 136, 255) 2px;
    box-shadow: none;
    background-color: rgba(188, 45, 126, 0.57);
    transition: all 0.3s ease;
}

.input-group:focus-within .form-control::placeholder,
.input-group:focus-within .input-group-text {
    color: rgb(255, 0, 230);
    transition: all 0.3s ease;
}

.form-control::placeholder {
    color: rgb(197, 193, 193);
}

.input-group-text {
    color: white;
    background-color: rgba(207, 25, 140, 0.384);
    border: none;
    border-bottom: solid white 2px;
}

#btn-ingresar {
    background-color: transparent;
    border: 1PX solid rgba(255, 255, 255, 0.151);
    border-radius: 20px;
    transition: transform 0.1s ease;
}
#btn-ingresar:hover {
    background-color: rgba(255, 255, 255, 0.151);
}
#btn-ingresar:focus {
    outline: none;
    box-shadow: none;
}
#btn-ingresar:active {
    transform: scale(0.95); 
} 